.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #fff;
  /* background-image: url('../public/logo512.png'); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*left-right stuff*/
.header {
  order: 0;
  font-size: 50px;
  text-align: center;
  /* padding-left: 50px; */
}

.sub-header {
  order: 1;
  font-size: 20px;
  /* padding-left: 50px; */
}

.text-item {
  order: 2;
  font-size: 20px;
  /* padding-left: 50px; */
}

.text-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  max-width: 350px;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: blue; */
}

.leftRight-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  align-items: center;
  border: 5px solid #000000;
  padding-bottom: 100px;
  
}

.image-item {
  display: flex; /* or inline-flex */
  max-height:200px;
  padding-top: 60px;;
  padding-left: 90px;
}


/*intro page stuff*/

.intro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /*might screw things up later. Height is set based on screen*/
}

.intro-box h1 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em;
  text-align: center;
  margin: auto;
  position: relative;
  top: 30%;
}

.intro-box h3 {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  font-style: italic;
  text-align: center;
  margin: auto;
  position: relative;
  top: 30%;
}

.intro-box{
  width: 488px;
  height: 301px;
  left: 476px;
  top: 213px;
  margin-bottom: 200px;

  background: #FFFFFF;
  border: 5px solid #000000;
  box-sizing: border-box;

}

body{
  background-image: url(backgroun.svg);
  background-position: center, center;
}

.menu-area li a{
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  padding: 0 25 px;
  font-size: 14 px;
  line-height: 30 px;
  z-index: 1;
  margin-left: 5px;
}
.menu-area li endItem{
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  padding: 0 25 px;
  font-size: 14 px;
  line-height: 30 px;
  z-index: 1;
  margin-right: 100px;
}

.menu-area li{
  list-style: none;
  display: inline;

}
.navbar{
  position: relative;
  padding-top:20px;
  padding-bottom: 20px;
  text-align: right;
  z-index: 1;
  background: #A2D2F3;
  margin: 0 0;
  width: 100%;
  flex-direction: row;
  display:flex;
  justify-content: flex-end;
  
}